@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification {
  width: 500px;
  height: 100vh;
  z-index: 2;
  @include center();
}

.textWrapper {
  width: 100%;
  height: 50px;
  @include center();
  background-color: #8b8b8b;
  color: white;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.2s;
}

.show {
  opacity: 1;
}
