@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification {
  width: 500px;
  height: 100%;
  z-index: 2;
  @include center();
}

.textWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  @include center();
  color: white;
  opacity: 0;
  transition: all 0.2s;
  z-index: 3;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
