@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

.main {
  background: #ffee00;
  font-family: "Pretendard";
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard";

  position: relative;
}

.introPageLayout {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 34px;
  font-weight: 900;
  line-height: 130%;

  margin-top: 42px;
  margin-left: 20px;
}

.highlightText {
  color: #1400f5;
}

.jaminiImg {
  position: absolute;
  right: 0;
  bottom: 200px;
}

.footer {
  text-align: center;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 64px;

  .description {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    color: #3a3a3a;
  }

  .linkButton {
    margin-top: 8px;
  }
}
