@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";

  .creationPageLayout {
    width: 375px;
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.label {
  font-size: 18px;
  font-family: Pretendard;
  font-weight: 700;
}

.textInput {
  display: inline-flex;
  padding: 12px 91px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #f1f1f1;
  border: none;

  font-size: 14px;
  font-family: Pretendard;
  font-weight: 500;
  line-height: 140%;
  color: #1a1a1a;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}
