@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

.main {
  font-family: "Pretendard";
}

.layout {
  text-align: center;
}

.header {
  margin-top: 180px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

.subTitle {
  font-size: small;
  color: #6d6d6d;
  line-height: 130%;

  margin-top: 8px;
}

.imgWrapper {
  margin-top: 24px;
}

.footer {
  margin-top: 48px;
}

.linkButton {
  cursor: pointer;
}
